@font-face {
    font-family: "notosansJP";
    src: url(../font/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: "MPLUSBOLD";
    src: url(../font/MPLUS1p-Bold.ttf);
}

@font-face {
    font-family: "MPLUSMEDIUM";
    src: url(../font/MPLUS1p-Medium.ttf);
}


@font-face {
    font-family: "pretendard";
    src: url(../font/PretendardJPVariable.ttf);
}

@font-face {
    font-family: "Lora";
    src: url(../font/Lora-VariableFont_wght.ttf);
}